@use 'variables';
@use 'responsive';



*, *::before, *::after {
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
}
.body{
  margin: 0;
}
.container-xl {
  max-width: 1141px;
  margin-left: auto;
  margin-right: auto;
}
.page-wrapper {
  background: #FFFFFF;
  background-image: url(images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

