$breakpoint-1: 375px;
$breakpoint-2: 525px;
$breakpoint-nav-2: 635px;
$breakpoint-nav-3: 712px;
$breakpoint-3: 764px;
$breakpoint-4: 850px;
$breakpoint-5: 1000px;
$breakpoint-6: 1114px;


$color-haki: rgb(100, 123, 100);
$color-softwhite: rgb(254, 254, 254);
